.Rprofile
.here

rv/

.RDataTmp
.RData

/scripts/scratch.R
/scripts/roman.scripts
/scripts/custom.render.tabset.R

/all.sample.metadata.tsv

/results/
/deprecated/

/notebooks/*_files/
/notebooks/*_cache/
*.html
/notebooks/*.rmarkdown
/notebooks/*.md
/notebooks/Rplots.pdf
